In [5]:
import os
from os import listdir
from os.path import isfile, join

import sqlite3
import pickle
import pandas as pd

In [ ]:
##########################################################################
'''
    This file manages the database. E.g, creating new table in the db, 
clearing the database (reset), load data from the database, etc
'''
##########################################################################

In [6]:
"""
Paths for Database
"""
db_root = "./"
db_name = "map_result.db"


"""
Paths for Articles
"""
zip_articles_root = "../Soc_MGT_OB_1980_2018"
extracted_articles_root = "../ExtractedZipFiles"
demo_files_root = "../ExtractedZipFiles/demo"

In [7]:
## [Method] Display Fuction

"""
Get name of an object
"""
def namestr(obj, namespace):
    return [name for name in namespace if namespace[name] is obj]

"""
Display with format
"""
def display(items, func=None, limit=None):
    # Print Variable Name
    print(namestr(items, globals()))
    # Print Content
    count = 0
    for item in items:
        # Consider Limit
        if limit is not None and count >= limit:
            return
        # Consider Exerted Function
        if func:
            item = func(item)
        # Print Each Item
        print("     {0}".format(item))
        count += 1

### Test ###
# test_dict = {"A": [1, 2, 3], "B": [4, 5, 6]}
# display(test_dict)

## [Warning] Drop Table

In [5]:
def clear_db_table():
    
    # Check Code In Case Of Mis-Behavior
    code = input("Type Code For Authorization: ")
    if not code == "jstor":
        print("Denied Access")
        return
    
    # Connect to the database "map_result.db"
    conn = sqlite3.connect(join(db_root, db_name))
    # Create Cursor object so that we can execute SQL commands
    cur = conn.cursor()
    # Clear Table
    clear_table = "drop table map_result"
    cur.execute(clear_table)
    conn.commit()
    cur.close()
    conn.close()
    
    print("Table Dropped")

In [6]:
# clear_db_table()

## [Warning] Only Run This If Empty Database

In [7]:
def init_db_table():
    
    # Check Code In Case Of Mis-Behavior
    code = input("Type Code For Authorization: ")
    if not code == "jstor":
        print("Denied Access")
        return
    
    # Connect to the database "map_result.db"
    conn = sqlite3.connect(join(db_root, db_name))
    # Create Cursor object so that we can execute SQL commands
    cur = conn.cursor()
    # Create table
    create_table = 'create table if not exists map_result ' \
        '(set_id text, file_id text, ' \
        'n1_culture real, n1_demographic real, n1_relational real, ' \
        'n2_culture real, n2_demographic real, n2_relational real, ' \
        'n3_culture real, n3_demographic real, n3_relational real, ' \
        'culture_rate real, demographic_rate real, relational_rate real, classification text) '
    cur.execute(create_table)

    # Commit the changes and close
    conn.commit()
    cur.close()
    conn.close()
    print("Table Init Success")

In [8]:
# init_db_table()

In [23]:
def get_breakpoint_article_id():
    # Connect to the database "map_result.db"
    conn = sqlite3.connect(join(db_root, db_name))
    # Create Cursor object so that we can execute SQL commands
    cur = conn.cursor()
    # Select all data entries from the table 
    cur.execute('SELECT file_id FROM map_result')
    # Display all data collected
    database_collection = cur.fetchall()
    # Close the cursor and the database
    cur.close()
    conn.close()
    
    if len(database_collection) > 0:
        loaded_ids = [data_collection[0] for data_collection in database_collection]
        print(len(loaded_ids))
    return None

In [25]:
breakpoint_id = get_breakpoint_article_id()

4023

In [11]:
db_root = "./map_results"
db_name = "map_result_001.db"
conn = sqlite3.connect(join(db_root, db_name))
cur = conn.cursor()
cur.execute('SELECT * FROM map_result')
database_collection = cur.fetchall()
cur.close()
conn.close()

columns = ["set_id", "file_id", "n1_culture", "n1_demographic", "n1_relational", 
           "n2_culture", "n2_demographic", "n2_relational", 
           "n3_culture", "n3_demographic", "n3_relational", 
           "culture_rate", "demographic_rate", "relational_rate", 
           "classification"]
data = database_collection[:20]
index = list(range(len(data)))
df_database = pd.DataFrame(data, columns=columns, index=index)
df_database

,set_id,file_id,n1_culture,n1_demographic,n1_relational,n2_culture,n2_demographic,n2_relational,n3_culture,n3_demographic,n3_relational,culture_rate,demographic_rate,relational_rate,classification
0,001,10.2307_23890268,0.040449,0.035955,0.040449,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.040449,0.035955,0.040449,Culture
1,001,10.2307_23999132,0.025288,0.028838,0.033718,0.000000,0.000746,0.000000,0.0,0.0,0.0,0.025288,0.029584,0.033718,Relational
2,001,10.2307_40990644,0.012575,0.015594,0.021127,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.012575,0.015594,0.021127,Relational
3,001,10.2307_591575,0.029193,0.039496,0.044648,0.000234,0.000234,0.000234,0.0,0.0,0.0,0.029427,0.039730,0.044882,Relational
4,001,10.2307_42863308,0.026119,0.044776,0.067164,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.026119,0.044776,0.067164,Relational
5,001,10.2307_41624898,0.043321,0.050542,0.046931,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.043321,0.050542,0.046931,Demographic
6,001,10.2307_30301966,0.013333,0.013333,0.013333,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.013333,0.013333,0.013333,Culture
7,001,10.2307_41839181,0.032609,0.036232,0.028986,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.032609,0.036232,0.028986,Demographic
8,001,10.2307_25054307,0.033350,0.035311,0.039725,0.000000,0.000368,0.000184,0.0,0.0,0.0,0.033350,0.035679,0.039909,Relational
9,001,10.2307_1147641,0.025532,0.021277,0.051064,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.025532,0.021277,0.051064,Relational
10,001,10.2307_40369361,0.023382,0.027140,0.027140,0.000000,0.000159,0.000000,0.0,0.0,0.0,0.023382,0.027298,0.027140,Demographic
11,001,10.2307_27734673,0.025237,0.028391,0.040221,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.025237,0.028391,0.040221,Relational
12,001,10.2307_41630837,0.051780,0.055016,0.058252,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.051780,0.055016,0.058252,Relational
13,001,10.2307_3516866,0.016667,0.025000,0.027778,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.016667,0.025000,0.027778,Relational
14,001,10.2307_27579539,0.057692,0.068826,0.058704,0.000000,0.000557,0.000000,0.0,0.0,0.0,0.057692,0.069383,0.058704,Demographic
15,001,10.2307_2631135,0.051948,0.050505,0.059163,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.051948,0.050505,0.059163,Relational
16,001,10.2307_178848,0.021726,0.023214,0.023214,0.000130,0.000130,0.000000,0.0,0.0,0.0,0.021856,0.023344,0.023214,Demographic
17,001,10.2307_582879,0.029186,0.029186,0.049155,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.029186,0.029186,0.049155,Relational
18,001,10.2307_40660874,0.028249,0.028249,0.067797,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.028249,0.028249,0.067797,Relational
19,001,10.2307_42852044,0.030142,0.047872,0.037234,0.000000,0.003264,0.000000,0.0,0.0,0.0,0.030142,0.051137,0.037234,Demographic

In [15]:
db_root = "./map_results"
db_name = "map_results_001.db"
conn = sqlite3.connect(join(db_root, db_name))
cur = conn.cursor()
cur.execute('SELECT * FROM map_result')
database_collection = cur.fetchall()
cur.close()
conn.close()

columns = ["set_id", "file_id", 
           "n1_culture", "n1_demographic", "n1_relational", "n1_article",
           "n2_culture", "n2_demographic", "n2_relational", "n2_article",
           "n3_culture", "n3_demographic", "n3_relational", "n3_article",
           "culture_count", "demographic_count", "relational_count", "article_count"]
data = database_collection[:20]
index = list(range(len(data)))

df_database = pd.DataFrame(data, columns=columns, index=index)
df_database

,set_id,file_id,n1_culture,n1_demographic,n1_relational,n1_article,n2_culture,n2_demographic,n2_relational,n2_article,n3_culture,n3_demographic,n3_relational,n3_article,culture_count,demographic_count,relational_count,article_count
0,001,10.2307_23890268,19.0,17.0,19.0,492.0,0.0,0.0,0.0,693.0,0.0,0.0,0.0,733.0,19.0,17.0,19.0,1918.0
1,001,10.2307_23999132,62.0,70.0,82.0,2453.0,0.0,4.0,0.0,6310.0,0.0,0.0,0.0,7021.0,62.0,74.0,82.0,15784.0
2,001,10.2307_40990644,28.0,35.0,47.0,2250.0,0.0,0.0,0.0,4706.0,0.0,0.0,0.0,5300.0,28.0,35.0,47.0,12256.0
3,001,10.2307_591575,55.0,74.0,84.0,1887.0,1.0,1.0,1.0,5066.0,0.0,0.0,0.0,6014.0,56.0,75.0,85.0,12967.0
4,001,10.2307_42863308,7.0,12.0,18.0,281.0,0.0,0.0,0.0,373.0,0.0,0.0,0.0,378.0,7.0,12.0,18.0,1032.0
5,001,10.2307_41624898,12.0,15.0,14.0,300.0,0.0,0.0,0.0,461.0,0.0,0.0,0.0,490.0,12.0,15.0,14.0,1251.0
6,001,10.2307_30301966,1.0,1.0,1.0,76.0,0.0,0.0,0.0,79.0,0.0,0.0,0.0,79.0,1.0,1.0,1.0,234.0
7,001,10.2307_41839181,9.0,10.0,8.0,283.0,0.0,0.0,0.0,416.0,0.0,0.0,0.0,433.0,9.0,10.0,8.0,1132.0
8,001,10.2307_25054307,82.0,87.0,98.0,2470.0,0.0,2.0,1.0,7605.0,0.0,0.0,0.0,9646.0,82.0,89.0,99.0,19721.0
9,001,10.2307_1147641,6.0,5.0,12.0,238.0,0.0,0.0,0.0,302.0,0.0,0.0,0.0,314.0,6.0,5.0,12.0,854.0
10,001,10.2307_40369361,61.0,71.0,71.0,2642.0,0.0,1.0,0.0,7520.0,0.0,0.0,0.0,9529.0,61.0,72.0,71.0,19691.0
11,001,10.2307_27734673,39.0,44.0,62.0,1555.0,0.0,0.0,0.0,4504.0,0.0,0.0,0.0,5677.0,39.0,44.0,62.0,11736.0
12,001,10.2307_41630837,49.0,52.0,55.0,961.0,0.0,0.0,0.0,1725.0,0.0,0.0,0.0,1825.0,49.0,52.0,55.0,4511.0
13,001,10.2307_3516866,6.0,9.0,10.0,370.0,0.0,0.0,0.0,522.0,0.0,0.0,0.0,547.0,6.0,9.0,10.0,1439.0
14,001,10.2307_27579539,59.0,71.0,60.0,1039.0,0.0,1.0,0.0,2291.0,0.0,0.0,0.0,2607.0,59.0,72.0,60.0,5937.0
15,001,10.2307_2631135,44.0,43.0,51.0,866.0,0.0,0.0,0.0,2185.0,0.0,0.0,0.0,2645.0,44.0,43.0,51.0,5696.0
16,001,10.2307_178848,78.0,83.0,83.0,3599.0,1.0,1.0,0.0,8745.0,0.0,0.0,0.0,9639.0,79.0,84.0,83.0,21983.0
17,001,10.2307_582879,20.0,20.0,33.0,687.0,0.0,0.0,0.0,1061.0,0.0,0.0,0.0,1123.0,20.0,20.0,33.0,2871.0
18,001,10.2307_40660874,5.0,5.0,12.0,186.0,0.0,0.0,0.0,225.0,0.0,0.0,0.0,245.0,5.0,5.0,12.0,656.0
19,001,10.2307_42852044,17.0,27.0,21.0,582.0,0.0,3.0,0.0,960.0,0.0,0.0,0.0,1006.0,17.0,30.0,21.0,2548.0